@charset "utf-8";

/*multiple Div*/
#menu8880_obj316 .objHeading_h2,
#menu8880_obj317 .objHeading_h2{
  font-size: 1.2em;
}
/*slogan*/
.mainSlogan {
}
.mainSlogan  strong{
	font-size: 12px;
  margin-bottom: 10px;
}
.sloganLar{
	font-size: 20px !important;
  margin-bottom: 10px !important;
}
.sloganSmo{
	font-size: 15px !important;
  margin-bottom: 5px !important;
}
.sloganMSmo{
	font-size: 12px !important;
}
/*smart link*/
#menu8880_obj62 {
  display: none;
}

/*banner*/
#menu8880_obj162 {
  left: 50% !important;
  margin-left:  -128px;
}
