@charset "utf-8";
/*
 * less variable - this page
 */
/*[E]===============================================*/
.blockUI.blockMsg,
.blockUI.blockPage {
  z-index: 999999;
  padding: 0 !important;
  border: 0 !important;
  -moz-box-shadow: -3px 0 50px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -3px 0 50px 0 rgba(0, 0, 0, 0.5);
  box-shadow: -3px 0 50px 0 rgba(0, 0, 0, 0.5);
  /*
		 * 1. 조직검색
		 * */
  /*
		 * 1. 말머리등록/수정
		 * 2. 신고사유 등록/수정
		 * */
  /*
		 * 1. 게시물보기
		 * */
  /*
		 * 1. 마스터스킨목록
		 * */
  /*
		 * 1. css편집
		 * 2. html편집
		 * 3. js편집
		 * */
  /*
		 * 인트로페이지 사용여부
		 * */
  /*
		 * 비밀번호
		 * */
  /*
		 * 제목계층설정
		 * */
  /*
		 * 컨텐츠 빌더에서 위젯 관리화면으로
		 * */
  /*
		 * 높이강제설정 - 50단위
		 * */
  /*
		 * 너비강제설정
		 * */
  /*
		 * 사용자화면 - 위젯관리 이동
		 * */
}
.blockUI.blockMsg ._blockInner,
.blockUI.blockPage ._blockInner {
  position: relative;
}
.blockUI.blockMsg ._blockInner ._blockClose,
.blockUI.blockPage ._blockInner ._blockClose {
  position: absolute;
  top: -25px;
  right: 0;
  border: 0;
  width: 20px;
  height: 20px;
  text-indent: -5000px;
  background-image: url("/Web-home/_UI/images/common/closeX.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.blockUI.blockMsg ._blockInner ._blockWrap,
.blockUI.blockPage ._blockInner ._blockWrap,
.blockUI.blockMsg ._blockInner iframe,
.blockUI.blockPage ._blockInner iframe {
  background-color: #fff;
  border-top: 0px #d84a38 solid;
  display: block;
  width: 100%;
}
.blockUI.blockMsg ._blockInner ._blockWrap,
.blockUI.blockPage ._blockInner ._blockWrap {
  padding-top: 1em;
}
.blockUI.blockMsg ._blockInner iframe,
.blockUI.blockPage ._blockInner iframe {
  min-height: 500px;
  height: auto !important;
  _height: 500px;
  /*
				 * 메뉴선택
				 */
}
.blockUI.blockMsg ._blockInner iframe._menuSelect,
.blockUI.blockPage ._blockInner iframe._menuSelect {
  min-height: 465px;
  height: auto !important;
  _height: 465px;
}
.blockUI.blockMsg._orgTree ._blockInner iframe._orgTree,
.blockUI.blockPage._orgTree ._blockInner iframe._orgTree {
  min-height: 450px;
  height: auto !important;
  _height: 450px;
}
.blockUI.blockMsg._openWrd,
.blockUI.blockPage._openWrd,
.blockUI.blockMsg._sttemntResn,
.blockUI.blockPage._sttemntResn {
  min-width: 360px;
  width: auto !important;
  _width: 360px;
}
.blockUI.blockMsg._openWrd ._blockInner iframe._openWrd,
.blockUI.blockPage._openWrd ._blockInner iframe._openWrd,
.blockUI.blockMsg._sttemntResn ._blockInner iframe._openWrd,
.blockUI.blockPage._sttemntResn ._blockInner iframe._openWrd,
.blockUI.blockMsg._openWrd ._blockInner iframe._sttemntResn,
.blockUI.blockPage._openWrd ._blockInner iframe._sttemntResn,
.blockUI.blockMsg._sttemntResn ._blockInner iframe._sttemntResn,
.blockUI.blockPage._sttemntResn ._blockInner iframe._sttemntResn {
  min-height: 220px;
  height: auto !important;
  _height: 220px;
}
.blockUI.blockMsg._dataView ._blockInner iframe._openWrd,
.blockUI.blockPage._dataView ._blockInner iframe._openWrd {
  min-height: 600px;
  height: auto !important;
  _height: 600px;
}
.blockUI.blockMsg._masterSkinList ._blockInner iframe._masterSkinList,
.blockUI.blockPage._masterSkinList ._blockInner iframe._masterSkinList {
  min-height: 570px;
  height: auto !important;
  _height: 570px;
}
.blockUI.blockMsg.__objHtml,
.blockUI.blockPage.__objHtml,
.blockUI.blockMsg.__objImage,
.blockUI.blockPage.__objImage,
.blockUI.blockMsg._editHtml,
.blockUI.blockPage._editHtml,
.blockUI.blockMsg._editCss,
.blockUI.blockPage._editCss,
.blockUI.blockMsg._editJs,
.blockUI.blockPage._editJs,
.blockUI.blockMsg._blockFull,
.blockUI.blockPage._blockFull {
  width: 94% !important;
  height: 90% !important;
}
.blockUI.blockMsg.__objHtml ._blockInner,
.blockUI.blockPage.__objHtml ._blockInner,
.blockUI.blockMsg.__objImage ._blockInner,
.blockUI.blockPage.__objImage ._blockInner,
.blockUI.blockMsg._editHtml ._blockInner,
.blockUI.blockPage._editHtml ._blockInner,
.blockUI.blockMsg._editCss ._blockInner,
.blockUI.blockPage._editCss ._blockInner,
.blockUI.blockMsg._editJs ._blockInner,
.blockUI.blockPage._editJs ._blockInner,
.blockUI.blockMsg._blockFull ._blockInner,
.blockUI.blockPage._blockFull ._blockInner {
  height: 100% !important;
}
.blockUI.blockMsg.__objHtml ._blockInner iframe.__objHtml,
.blockUI.blockPage.__objHtml ._blockInner iframe.__objHtml,
.blockUI.blockMsg.__objImage ._blockInner iframe.__objHtml,
.blockUI.blockPage.__objImage ._blockInner iframe.__objHtml,
.blockUI.blockMsg._editHtml ._blockInner iframe.__objHtml,
.blockUI.blockPage._editHtml ._blockInner iframe.__objHtml,
.blockUI.blockMsg._editCss ._blockInner iframe.__objHtml,
.blockUI.blockPage._editCss ._blockInner iframe.__objHtml,
.blockUI.blockMsg._editJs ._blockInner iframe.__objHtml,
.blockUI.blockPage._editJs ._blockInner iframe.__objHtml,
.blockUI.blockMsg._blockFull ._blockInner iframe.__objHtml,
.blockUI.blockPage._blockFull ._blockInner iframe.__objHtml,
.blockUI.blockMsg.__objHtml ._blockInner iframe.__objImage,
.blockUI.blockPage.__objHtml ._blockInner iframe.__objImage,
.blockUI.blockMsg.__objImage ._blockInner iframe.__objImage,
.blockUI.blockPage.__objImage ._blockInner iframe.__objImage,
.blockUI.blockMsg._editHtml ._blockInner iframe.__objImage,
.blockUI.blockPage._editHtml ._blockInner iframe.__objImage,
.blockUI.blockMsg._editCss ._blockInner iframe.__objImage,
.blockUI.blockPage._editCss ._blockInner iframe.__objImage,
.blockUI.blockMsg._editJs ._blockInner iframe.__objImage,
.blockUI.blockPage._editJs ._blockInner iframe.__objImage,
.blockUI.blockMsg._blockFull ._blockInner iframe.__objImage,
.blockUI.blockPage._blockFull ._blockInner iframe.__objImage,
.blockUI.blockMsg.__objHtml ._blockInner iframe._editCss,
.blockUI.blockPage.__objHtml ._blockInner iframe._editCss,
.blockUI.blockMsg.__objImage ._blockInner iframe._editCss,
.blockUI.blockPage.__objImage ._blockInner iframe._editCss,
.blockUI.blockMsg._editHtml ._blockInner iframe._editCss,
.blockUI.blockPage._editHtml ._blockInner iframe._editCss,
.blockUI.blockMsg._editCss ._blockInner iframe._editCss,
.blockUI.blockPage._editCss ._blockInner iframe._editCss,
.blockUI.blockMsg._editJs ._blockInner iframe._editCss,
.blockUI.blockPage._editJs ._blockInner iframe._editCss,
.blockUI.blockMsg._blockFull ._blockInner iframe._editCss,
.blockUI.blockPage._blockFull ._blockInner iframe._editCss,
.blockUI.blockMsg.__objHtml ._blockInner iframe._editHtml,
.blockUI.blockPage.__objHtml ._blockInner iframe._editHtml,
.blockUI.blockMsg.__objImage ._blockInner iframe._editHtml,
.blockUI.blockPage.__objImage ._blockInner iframe._editHtml,
.blockUI.blockMsg._editHtml ._blockInner iframe._editHtml,
.blockUI.blockPage._editHtml ._blockInner iframe._editHtml,
.blockUI.blockMsg._editCss ._blockInner iframe._editHtml,
.blockUI.blockPage._editCss ._blockInner iframe._editHtml,
.blockUI.blockMsg._editJs ._blockInner iframe._editHtml,
.blockUI.blockPage._editJs ._blockInner iframe._editHtml,
.blockUI.blockMsg._blockFull ._blockInner iframe._editHtml,
.blockUI.blockPage._blockFull ._blockInner iframe._editHtml,
.blockUI.blockMsg.__objHtml ._blockInner iframe._editJs,
.blockUI.blockPage.__objHtml ._blockInner iframe._editJs,
.blockUI.blockMsg.__objImage ._blockInner iframe._editJs,
.blockUI.blockPage.__objImage ._blockInner iframe._editJs,
.blockUI.blockMsg._editHtml ._blockInner iframe._editJs,
.blockUI.blockPage._editHtml ._blockInner iframe._editJs,
.blockUI.blockMsg._editCss ._blockInner iframe._editJs,
.blockUI.blockPage._editCss ._blockInner iframe._editJs,
.blockUI.blockMsg._editJs ._blockInner iframe._editJs,
.blockUI.blockPage._editJs ._blockInner iframe._editJs,
.blockUI.blockMsg._blockFull ._blockInner iframe._editJs,
.blockUI.blockPage._blockFull ._blockInner iframe._editJs,
.blockUI.blockMsg.__objHtml ._blockInner iframe._blockFull,
.blockUI.blockPage.__objHtml ._blockInner iframe._blockFull,
.blockUI.blockMsg.__objImage ._blockInner iframe._blockFull,
.blockUI.blockPage.__objImage ._blockInner iframe._blockFull,
.blockUI.blockMsg._editHtml ._blockInner iframe._blockFull,
.blockUI.blockPage._editHtml ._blockInner iframe._blockFull,
.blockUI.blockMsg._editCss ._blockInner iframe._blockFull,
.blockUI.blockPage._editCss ._blockInner iframe._blockFull,
.blockUI.blockMsg._editJs ._blockInner iframe._blockFull,
.blockUI.blockPage._editJs ._blockInner iframe._blockFull,
.blockUI.blockMsg._blockFull ._blockInner iframe._blockFull,
.blockUI.blockPage._blockFull ._blockInner iframe._blockFull {
  height: 100% !important;
}
.blockUI.blockMsg._setIntro,
.blockUI.blockPage._setIntro {
  min-width: 360px;
  width: auto !important;
  _width: 360px;
}
.blockUI.blockMsg._setIntro ._blockInner iframe._setIntro,
.blockUI.blockPage._setIntro ._blockInner iframe._setIntro {
  min-height: 240px;
  height: auto !important;
  _height: 240px;
}
.blockUI.blockMsg._blockPass,
.blockUI.blockPage._blockPass {
  min-width: 360px;
  width: auto !important;
  _width: 360px;
}
.blockUI.blockMsg._blockPass ._blockInner iframe._blockPass,
.blockUI.blockPage._blockPass ._blockInner iframe._blockPass {
  min-height: 220px;
  height: auto !important;
  _height: 220px;
}
.blockUI.blockMsg.__objHeading,
.blockUI.blockPage.__objHeading {
  min-width: 360px;
  width: auto !important;
  _width: 360px;
}
.blockUI.blockMsg.__objHeading ._blockInner iframe.__objHeading,
.blockUI.blockPage.__objHeading ._blockInner iframe.__objHeading {
  min-height: 340px;
  height: auto !important;
  _height: 340px;
}
.blockUI.blockMsg.widgetManagerUrl,
.blockUI.blockPage.widgetManagerUrl {
  width: 92% !important;
  height: 90% !important;
}
.blockUI.blockMsg.widgetManagerUrl ._blockInner,
.blockUI.blockPage.widgetManagerUrl ._blockInner {
  height: 100% !important;
}
.blockUI.blockMsg.widgetManagerUrl ._blockInner iframe.widgetManagerUrl,
.blockUI.blockPage.widgetManagerUrl ._blockInner iframe.widgetManagerUrl {
  height: 100% !important;
}
.blockUI.blockMsg._blockH150 ._blockInner iframe._blockH150,
.blockUI.blockPage._blockH150 ._blockInner iframe._blockH150 {
  min-height: 150px;
  height: auto !important;
  _height: 150px;
}
.blockUI.blockMsg._blockH160 ._blockInner iframe._blockH160,
.blockUI.blockPage._blockH160 ._blockInner iframe._blockH160 {
  min-height: 160px;
  height: auto !important;
  _height: 160px;
}
.blockUI.blockMsg._blockH170 ._blockInner iframe._blockH170,
.blockUI.blockPage._blockH170 ._blockInner iframe._blockH170 {
  min-height: 170px;
  height: auto !important;
  _height: 170px;
}
.blockUI.blockMsg._blockH180 ._blockInner iframe._blockH180,
.blockUI.blockPage._blockH180 ._blockInner iframe._blockH180 {
  min-height: 180px;
  height: auto !important;
  _height: 180px;
}
.blockUI.blockMsg._blockH190 ._blockInner iframe._blockH190,
.blockUI.blockPage._blockH190 ._blockInner iframe._blockH190 {
  min-height: 190px;
  height: auto !important;
  _height: 190px;
}
.blockUI.blockMsg._blockH200 ._blockInner iframe._blockH200,
.blockUI.blockPage._blockH200 ._blockInner iframe._blockH200 {
  min-height: 200px;
  height: auto !important;
  _height: 200px;
}
.blockUI.blockMsg._blockH250 ._blockInner iframe._blockH250,
.blockUI.blockPage._blockH250 ._blockInner iframe._blockH250 {
  min-height: 250px;
  height: auto !important;
  _height: 250px;
}
.blockUI.blockMsg._blockH300 ._blockInner iframe._blockH300,
.blockUI.blockPage._blockH300 ._blockInner iframe._blockH300 {
  min-height: 300px;
  height: auto !important;
  _height: 300px;
}
.blockUI.blockMsg._blockH350 ._blockInner iframe._blockH350,
.blockUI.blockPage._blockH350 ._blockInner iframe._blockH350 {
  min-height: 350px;
  height: auto !important;
  _height: 350px;
}
.blockUI.blockMsg._blockH400 ._blockInner iframe._blockH400,
.blockUI.blockPage._blockH400 ._blockInner iframe._blockH400 {
  min-height: 400px;
  height: auto !important;
  _height: 400px;
}
.blockUI.blockMsg._blockH450 ._blockInner iframe._blockH450,
.blockUI.blockPage._blockH450 ._blockInner iframe._blockH450 {
  min-height: 450px;
  height: auto !important;
  _height: 450px;
}
.blockUI.blockMsg._blockH550 ._blockInner iframe._blockH550,
.blockUI.blockPage._blockH550 ._blockInner iframe._blockH550 {
  min-height: 550px;
  height: auto !important;
  _height: 550px;
}
.blockUI.blockMsg._blockH600 ._blockInner iframe._blockH600,
.blockUI.blockPage._blockH600 ._blockInner iframe._blockH600 {
  min-height: 600px;
  height: auto !important;
  _height: 600px;
}
.blockUI.blockMsg._blockH650 ._blockInner iframe._blockH650,
.blockUI.blockPage._blockH650 ._blockInner iframe._blockH650 {
  min-height: 650px;
  height: auto !important;
  _height: 650px;
}
.blockUI.blockMsg._blockH700 ._blockInner iframe._blockH700,
.blockUI.blockPage._blockH700 ._blockInner iframe._blockH700 {
  min-height: 700px;
  height: auto !important;
  _height: 700px;
}
.blockUI.blockMsg._blockH750 ._blockInner iframe._blockH750,
.blockUI.blockPage._blockH750 ._blockInner iframe._blockH750 {
  min-height: 750px;
  height: auto !important;
  _height: 750px;
}
.blockUI.blockMsg._blockH800 ._blockInner iframe._blockH800,
.blockUI.blockPage._blockH800 ._blockInner iframe._blockH800 {
  min-height: 800px;
  height: auto !important;
  _height: 800px;
}
.blockUI.blockMsg._blockH850 ._blockInner iframe._blockH850,
.blockUI.blockPage._blockH850 ._blockInner iframe._blockH850 {
  min-height: 850px;
  height: auto !important;
  _height: 850px;
}
.blockUI.blockMsg._blockW200,
.blockUI.blockPage._blockW200 {
  width: 200px !important;
}
.blockUI.blockMsg._blockW250,
.blockUI.blockPage._blockW250 {
  width: 250px !important;
}
.blockUI.blockMsg._blockW300,
.blockUI.blockPage._blockW300 {
  width: 300px !important;
}
.blockUI.blockMsg._blockW350,
.blockUI.blockPage._blockW350 {
  width: 350px !important;
}
.blockUI.blockMsg._blockW400,
.blockUI.blockPage._blockW400 {
  width: 400px !important;
}
.blockUI.blockMsg._blockW450,
.blockUI.blockPage._blockW450 {
  width: 450px !important;
}
.blockUI.blockMsg._blockW500,
.blockUI.blockPage._blockW500 {
  width: 500px !important;
}
.blockUI.blockMsg._blockW550,
.blockUI.blockPage._blockW550 {
  width: 550px !important;
}
.blockUI.blockMsg._blockW600,
.blockUI.blockPage._blockW600 {
  width: 600px !important;
}
.blockUI.blockMsg._blockW650,
.blockUI.blockPage._blockW650 {
  width: 650px !important;
}
.blockUI.blockMsg._blockW700,
.blockUI.blockPage._blockW700 {
  width: 700px !important;
}
.blockUI.blockMsg._fnctAdmin,
.blockUI.blockPage._fnctAdmin {
  display: block !important;
  width: 92% !important;
  height: 90% !important;
}
.blockUI.blockMsg._fnctAdmin ._blockInner,
.blockUI.blockPage._fnctAdmin ._blockInner {
  height: 100% !important;
}
.blockUI.blockMsg._fnctAdmin ._blockInner iframe._fnctAdmin,
.blockUI.blockPage._fnctAdmin ._blockInner iframe._fnctAdmin {
  display: block !important;
  height: 100% !important;
}
._popup .blockUI.blockMsg ._blockInner ._blockClose,
._popup .blockUI.blockPage ._blockInner ._blockClose {
  top: 17px;
  right: 20px;
  background-image: url("/Web-home/_UI/images/common/closeXBlack.gif");
}
._popup .blockUI.blockMsg ._blockInner ._blockWrap,
._popup .blockUI.blockPage ._blockInner ._blockWrap,
._popup .blockUI.blockMsg ._blockInner iframe,
._popup .blockUI.blockPage ._blockInner iframe {
  border: 0;
}
