@charset "UTF-8";
._fnctPopupAdmin {
  display: none !important;
}

/* ==========================================================================
Skip CSS
========================================================================== */
.skip {
    display: block;
    width: 1px;
    height: 1px;
    margin: 0 -1px -1px 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.skip:hover,
.skip:focus,
.skip:active {
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background-color: #0f202f;
}

/* ==========================================================================
Reset CSS
========================================================================== */

*,
*:after,
*:before,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Noto DemiLight', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #666;
    overflow: visible;
    -webkit-text-size-adjust: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
p,
button {
    margin: 0;
    padding: 0;
}

body {
    word-break: break-all;
}

header,
article,
section,
nav,
footer {
    display: block;
}

img,
fieldset,
iframe,
button {
    border: 0 none;
}

li {
    list-style: none;
}

input,
select,
button {
    vertical-align: middle;
    font-family: 'Noto DemiLight', sans-serif;
}

input:focus,
select:focus,
button:focus {
    outline: #2060aa dotted 1px;
}

img {
    vertical-align: top;
}

i,
em,
address {
    font-style: normal;
}

label,
button {
    cursor: pointer;
}

button {
    background-color: transparent;
    outline: none;
    overflow: visible;
    border: 0;
}

a,
button,
input {
    border: 0 none;
}

a:link,
a:active,
a:visited {
    display: block;
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #2247a6;
    transition: all 0.125s cubic-bezier(0.7, 0, 0.3, 1);
}

legend {
    *width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    position: absolute;
    z-index: -1;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    text-align: center;
}

caption {
    width: 0;
    height: 0;
    padding: 0;
    font-size: 0;
    opacity: 0;
}

th {
    text-align: center;
}

input::-ms-clear {
    display: none;
}

input,
button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

pre {
    white-space: pre-line;
    background-color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow-y: auto;
}

textarea {
    resize: none;
}

figure {
    text-align: center;
}

.simplemodal-wrap {
    font-size: 13px;
}

._objHtml {
    overflow: visible;
}

/* ==========================================================================
   Font CSS
   ========================================================================== */
/* 노토 본고딕*/

@font-face {
    font-family: 'Noto Thin';
    font-style: normal;
    src: url("../../font/noto/NotoSans-Thin.woff2") format('woff2'), url("../../font/noto/NotoSans-Thin.woff") format('woff');
}

@font-face {
    font-family: 'Noto Light';
    font-style: normal;
    src: url("../../font/noto/NotoSans-Light.woff2") format('woff2'), url("../../font/noto/NotoSans-Light.woff") format('woff');
}

@font-face {
    font-family: 'Noto DemiLight';
    font-style: normal;
    src: url("../../font/noto/NotoSans-DemiLight.woff2") format('woff2'), url("../../font/noto/NotoSans-DemiLight.woff") format('woff');
}

@font-face {
    font-family: 'Noto Regular';
    font-style: normal;
    src: url("../../font/noto/NotoSans-Regular.woff2") format('woff2'), url("../../font/noto/NotoSans-Regular.woff") format('woff');
}

@font-face {
    font-family: 'Noto Medium';
    font-style: normal;
    src: url("../../font/noto/NotoSans-Medium.woff2") format('woff2'), url("../../font/noto/NotoSans-Medium.woff") format('woff');
}

@font-face {
    font-family: 'Noto Bold';
    font-style: normal;
    src: url("../../font/noto/NotoSans-Bold.woff2") format('woff2'), url("../../font/noto/NotoSans-Bold.woff") format('woff');
}

@font-face {
    font-family: 'Noto Blank';
    font-style: normal;
    src: url("../../font/noto/NotoSans-Black.woff2") format('woff2'), url("../../font/noto/NotoSans-Black.woff") format('woff');
}
