@charset "UTF-8";
/* ==========================================================================
   DIV CSS
   ========================================================================== */

#_contentBuilder {
    overflow: hidden;
}

#multipleContentsDiv_signal_4 {
    overflow: hidden;
    max-width: 1400px;
    margin: 0 auto;
}

#multipleDiv_signal_20 {
    float: left;
    width: 61%;
}

#multipleDiv_signal_32 {
    float: right;
    width: 38%;
}

#multipleDiv_signal_210 {
    clear: both;
}

#multipleContentsDiv_signal_210 {
    overflow: hidden;
}

.ta #multipleDiv_signal_20 {
    width: 100%;
}

.ta #multipleDiv_signal_32 {
    width: 100%;
}

/* ==========================================================================
   Slogan CSS
   ========================================================================== */
.slogan {
    padding: 27px 0;
}

.slogan .text {
    font-size: 22px;
    color: #fff;
    padding: 0 0 10px 0;
}

.slogan .logo span {
    position: relative;
    display: inline-block;
}

.slogan .logo span:after {
    display: none;
    content: '';
    position: absolute;
    top: 50%;
    left: 110%;
    width: 65%;
    height: 2px;
    background: #fff;
}

@media all and (max-width:1270px) {
    .slogan .logo span:after {
        display: none;
    }
}

.ta .slogan {
    padding: 55px 40px 56px 0;
}

.ta .slogan .text {
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ta .slogan .logo span:after {
    display: none;
}

.ta .slogan .logo img {
    width: 100%;
}

.mo .slogan {
    padding: 30px 0 0 0;
    text-align: center;
}

.mo .logo img {
    max-width: 220px;
}

/* ==========================================================================
   Caa CSS
   ========================================================================== */
.callme {
    text-align: center;
    background: url('/public/bg-call.jpg') no-repeat center top;
  	background-size: cover;
    color: #fff;
    min-height: 270px;
}

.callme .title {
    padding: 25px 0 0 0;
}

.callme .title strong {
    font-size: 24px;
    font-weight: normal;
}

.callme .title p {
    font-size: 15px;
    font-family: 'noto light';
    padding: 0 20px 20px 20px;
    word-break: keep-all
}

.callme .number {
    position: relative;
    text-align: left;
    padding: 0 0 0 33%;
}

.callme .number:after {
    content: '';
    position: absolute;
    left: 12%;
    top: 50%;
    width: 53px;
    height: 44px;
    background: url('/sites/signal/images/common/icon-call2.png') no-repeat center center;
    transform: translate(0, -50%);
}

.callme .number.first {
    margin: 0 0 10px 0
}

.callme .number p {
    font-family: 'noto light';
}

.callme .number strong {
    font-size: 22px;
    line-height: 1.1;
}

@media all and (max-width:1173px) {
    .callme .number {
        padding: 0 10px;
        text-align: center;
    }

    .callme .number:after {
        display: none;
    }
}

@media all and (max-width:860px) {
    .callme .number {
        text-align: left;
        padding: 0 0 0 33%;
    }

    .callme .number:after {
        display: block;
    }
}


@media all and (max-width:700px) {
    .callme .number {
        padding: 0 10px;
        text-align: center;
    }

    .callme .number:after {
        display: none;
    }
}

@media all and (max-width:500px) {
    .callme .title strong {
        font-size: 23px;
    }

    .callme .title p {
        font-size: 13px;
        padding: 0 10px 10px 10px;
    }

    .callme .number p {
        font-size: 14px;
    }
}

.mo .callme .title p {
    font-size: 15px;
    padding: 0 20px 20px 20px;
}

.mo .callme .number {
    padding: 0 10px;
    text-align: left;
    padding: 0 0 0 33%;
}

.mo .callme .number:after {
    display: block;
}

.mo .callme .number p {
    font-size: 15px;
}

/* ==========================================================================
   Tablet Mode
   ========================================================================== */

/* ==========================================================================
   Mobile Mode
   ========================================================================== */
